openapi: 3.0.3
info:
  title: Feathery REST API
  description: >
    RESTful API for managing forms, fields, submissions, documents, end users,
    and workflows. Feathery is an enterprise form SDK and AI-driven data intake
    platform purpose-built for financial services including insurance and wealth
    management. Supports multi-region deployments across US, Canada, Europe, and
    Australia with token-based authentication.
  version: 1.0.0
  contact:
    url: https://www.feathery.io
  license:
    name: Proprietary
servers:
  - url: https://api.feathery.io
    description: US (default)
  - url: https://api-ca.feathery.io
    description: Canada
  - url: https://api-eu.feathery.io
    description: Europe
  - url: https://api-au.feathery.io
    description: Australia
security:
  - TokenAuth: []
tags:
  - name: Account
    description: Team and account management
  - name: Document Intelligence
    description: AI-driven document extraction
  - name: Document Templates
    description: PDF and document template management
  - name: Forms
    description: Form creation and management
  - name: Hidden Fields
    description: Hidden field management
  - name: Logs
    description: API connector and email logs
  - name: End Users
    description: End user management
  - name: Data Hubs
    description: Data hub entry actions
  - name: Workspaces
    description: Workspace management
paths:
  /api/account/:
    get:
      operationId: getAccount
      summary: Retrieve account information
      description: Retrieve team and account information.
      tags:
        - Account
      responses:
        '200':
          description: Account information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '401':
          $ref: '#/components/responses/Unauthorized'
    patch:
      operationId: updateAccount
      summary: Edit account settings
      description: Edit account settings.
      tags:
        - Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpdate'
      responses:
        '200':
          description: Account updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/account/invite/:
    post:
      operationId: inviteUser
      summary: Invite new user to team
      description: Invite new users to the team.
      tags:
        - Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of the user to invite
      responses:
        '201':
          description: Invitation sent successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/account/uninvite/:
    patch:
      operationId: removeUser
      summary: Remove user from team
      description: Remove a user from the team.
      tags:
        - Account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of the user to remove
      responses:
        '200':
          description: User removed successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/account/rotate_key/:
    patch:
      operationId: rotateApiKey
      summary: Rotate API key
      description: Rotate the team API key.
      tags:
        - Account
      responses:
        '200':
          description: API key rotated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_key:
                    type: string
                    description: New API key
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/ai/run/{extraction_id}/:
    post:
      operationId: runExtraction
      summary: Extract data from documents
      description: Extract data from documents using AI (multipart/form-data).
      tags:
        - Document Intelligence
      parameters:
        - $ref: '#/components/parameters/ExtractionId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Document file to extract data from
                user_id:
                  type: string
                  description: User or submission identifier
      responses:
        '200':
          description: Extraction completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionRun'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/ai/extraction/:
    get:
      operationId: listExtractions
      summary: List all extractions
      description: Retrieve a list of all extraction configurations.
      tags:
        - Document Intelligence
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: List of extractions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExtractions'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/ai/extraction/{extraction_id}/:
    get:
      operationId: getExtraction
      summary: Retrieve extraction configuration
      description: Retrieve the configuration for a specific extraction.
      tags:
        - Document Intelligence
      parameters:
        - $ref: '#/components/parameters/ExtractionId'
      responses:
        '200':
          description: Extraction configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractionConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/ai/run/batch/{extraction_id}/:
    get:
      operationId: listExtractionRuns
      summary: List extraction runs
      description: List all runs for a specific extraction.
      tags:
        - Document Intelligence
      parameters:
        - $ref: '#/components/parameters/ExtractionId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
      responses:
        '200':
          description: List of extraction runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedExtractionRuns'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/document/fill/:
    post:
      operationId: fillDocument
      summary: Fill/sign document template
      description: Fill or sign a document template.
      tags:
        - Document Templates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - document
              properties:
                document:
                  type: string
                  description: Document template ID
                user:
                  type: string
                  description: User or submission ID
                signer:
                  type: string
                  format: email
                  description: Email of the signer
                fields:
                  type: object
                  additionalProperties: true
                  description: Field values to fill in the document
      responses:
        '201':
          description: Document filled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentEnvelope'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/document/template/:
    get:
      operationId: listDocumentTemplates
      summary: List document templates
      description: Retrieve a list of all document templates.
      tags:
        - Document Templates
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: List of document templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDocumentTemplates'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: uploadDocumentTemplates
      summary: Bulk upload document templates
      description: Bulk upload document templates (multipart/form-data).
      tags:
        - Document Templates
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Document template file
                name:
                  type: string
                  description: Name for the template
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags for the template
      responses:
        '201':
          description: Template uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTemplate'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/document/envelope/:
    get:
      operationId: listDocumentEnvelopes
      summary: List document envelopes
      description: Retrieve a list of all document envelopes.
      tags:
        - Document Templates
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/CreatedAfter'
        - $ref: '#/components/parameters/CreatedBefore'
      responses:
        '200':
          description: List of document envelopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDocumentEnvelopes'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/document/envelope/{envelope_id}/:
    delete:
      operationId: deleteDocumentEnvelope
      summary: Delete document envelope
      description: Delete a specific document envelope.
      tags:
        - Document Templates
      parameters:
        - name: envelope_id
          in: path
          required: true
          schema:
            type: string
          description: Unique envelope identifier
      responses:
        '204':
          description: Envelope deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/form/:
    get:
      operationId: listForms
      summary: List all forms
      description: Retrieve a list of all forms.
      tags:
        - Forms
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
        - name: tags
          in: query
          schema:
            type: string
          description: Filter by tags (comma-separated)
      responses:
        '200':
          description: List of forms
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedForms'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createForm
      summary: Create form from template
      description: Create a new form from a template.
      tags:
        - Forms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Name of the new form
                template_id:
                  type: string
                  description: Template ID to create from
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags for the form
      responses:
        '201':
          description: Form created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/form/{form_id}/:
    get:
      operationId: getForm
      summary: Retrieve form schema
      description: Retrieve the full schema for a specific form.
      tags:
        - Forms
      parameters:
        - $ref: '#/components/parameters/FormId'
      responses:
        '200':
          description: Form schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateForm
      summary: Update form properties
      description: Update properties of a specific form.
      tags:
        - Forms
      parameters:
        - $ref: '#/components/parameters/FormId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New name for the form
                active:
                  type: boolean
                  description: Whether the form is active
                tags:
                  type: array
                  items:
                    type: string
                  description: Updated tags
      responses:
        '200':
          description: Form updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteForm
      summary: Delete form
      description: Delete a specific form.
      tags:
        - Forms
      parameters:
        - $ref: '#/components/parameters/FormId'
      responses:
        '204':
          description: Form deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/form/copy/:
    post:
      operationId: copyForm
      summary: Duplicate form
      description: Create a copy of an existing form.
      tags:
        - Forms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - form_id
              properties:
                form_id:
                  type: string
                  description: ID of the form to duplicate
                name:
                  type: string
                  description: Name for the duplicated form
      responses:
        '201':
          description: Form duplicated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Form'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/form/submission/:
    get:
      operationId: listSubmissions
      summary: List form submissions
      description: Retrieve a list of form submissions.
      tags:
        - Forms
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
        - name: form_id
          in: query
          schema:
            type: string
          description: Filter submissions by form ID
        - name: completed
          in: query
          schema:
            type: boolean
          description: Filter by completion status
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
        - name: fields
          in: query
          schema:
            type: string
          description: Comma-separated list of fields to include
        - name: sort
          in: query
          schema:
            type: string
          description: Sort order for results
      responses:
        '200':
          description: List of form submissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSubmissions'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createSubmission
      summary: Create/update form submissions
      description: Create or update form submissions.
      tags:
        - Forms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionInput'
      responses:
        '200':
          description: Submission created or updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'
        '201':
          description: Submission created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/form/submission/pdf/:
    post:
      operationId: exportSubmissionPdf
      summary: Export submission as PDF
      description: Export a form submission as a PDF document.
      tags:
        - Forms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - submission_id
              properties:
                submission_id:
                  type: string
                  description: Submission ID to export
      responses:
        '200':
          description: PDF generated successfully
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/field/hidden/:
    get:
      operationId: listHiddenFields
      summary: List hidden fields
      description: Retrieve a list of all hidden fields.
      tags:
        - Hidden Fields
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: List of hidden fields
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedHiddenFields'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createHiddenFields
      summary: Create hidden fields
      description: Create new hidden fields.
      tags:
        - Hidden Fields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/HiddenFieldInput'
      responses:
        '201':
          description: Hidden fields created successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HiddenField'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/field/hidden/detail/:
    patch:
      operationId: updateHiddenFields
      summary: Edit hidden fields
      description: Edit existing hidden fields.
      tags:
        - Hidden Fields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/HiddenFieldUpdate'
      responses:
        '200':
          description: Hidden fields updated successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HiddenField'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/field/hidden/delete/:
    delete:
      operationId: deleteHiddenFields
      summary: Delete hidden fields
      description: Delete hidden fields.
      tags:
        - Hidden Fields
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ids
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  description: List of hidden field IDs to delete
      responses:
        '204':
          description: Hidden fields deleted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/logs/api-connector/{form_id}/:
    get:
      operationId: listApiConnectorLogs
      summary: List API connector errors
      description: Retrieve API connector errors for a specific form.
      tags:
        - Logs
      parameters:
        - $ref: '#/components/parameters/FormId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
      responses:
        '200':
          description: List of API connector logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLogs'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/logs/email/form/{form_id}/:
    get:
      operationId: listFormEmailLogs
      summary: List emails sent from form
      description: Retrieve a list of emails sent from a specific form.
      tags:
        - Logs
      parameters:
        - $ref: '#/components/parameters/FormId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
      responses:
        '200':
          description: List of form email logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmailLogs'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/logs/email/extraction/{extraction_id}/:
    get:
      operationId: listExtractionEmailLogs
      summary: List forwarded extraction emails
      description: Retrieve a list of forwarded emails for a specific extraction.
      tags:
        - Logs
      parameters:
        - $ref: '#/components/parameters/ExtractionId'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: List of extraction email logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmailLogs'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/logs/email/issues/:
    get:
      operationId: listEmailIssues
      summary: List email delivery issues
      description: Retrieve a list of email delivery issues.
      tags:
        - Logs
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: List of email delivery issues
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedEmailIssues'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/user/:
    get:
      operationId: listUsers
      summary: List all users
      description: Retrieve a list of all end users.
      tags:
        - End Users
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/CreatedAfter'
        - $ref: '#/components/parameters/CreatedBefore'
      responses:
        '200':
          description: List of end users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedUsers'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createUser
      summary: Create/fetch user
      description: Create a new user or fetch an existing user by identifier.
      tags:
        - End Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: Unique user identifier
                field_values:
                  type: object
                  additionalProperties: true
                  description: Initial field values for the user
      responses:
        '200':
          description: Existing user returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/user/{user_id}/:
    get:
      operationId: getUser
      summary: Get user data
      description: Retrieve data for a specific end user.
      tags:
        - End Users
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteUser
      summary: Delete user
      description: Delete a specific end user.
      tags:
        - End Users
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '204':
          description: User deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/user/{user_id}/form/{form_id}/:
    get:
      operationId: getUserFormSession
      summary: Get user form session
      description: Retrieve the form session data for a specific user and form combination.
      tags:
        - End Users
      parameters:
        - $ref: '#/components/parameters/UserId'
        - $ref: '#/components/parameters/FormId'
      responses:
        '200':
          description: User form session data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserFormSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/hub/{hub_id}/entry/{entry_id}/action/:
    post:
      operationId: performHubEntryAction
      summary: Perform hub entry action
      description: Perform an action on a data hub entry.
      tags:
        - Data Hubs
      parameters:
        - name: hub_id
          in: path
          required: true
          schema:
            type: string
          description: Data hub identifier
        - name: entry_id
          in: path
          required: true
          schema:
            type: string
          description: Data hub entry identifier
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - action
              properties:
                action:
                  type: string
                  description: Action to perform on the entry
                data:
                  type: object
                  additionalProperties: true
                  description: Additional data for the action
      responses:
        '200':
          description: Action performed successfully
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/workspace/:
    get:
      operationId: listWorkspaces
      summary: List all workspaces
      description: Retrieve a list of all workspaces.
      tags:
        - Workspaces
      parameters:
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: List of workspaces
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedWorkspaces'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createWorkspace
      summary: Create workspace
      description: Create a new workspace.
      tags:
        - Workspaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Name of the workspace
      responses:
        '201':
          description: Workspace created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/workspace/{workspace_id}/:
    get:
      operationId: getWorkspace
      summary: Retrieve workspace
      description: Retrieve a specific workspace.
      tags:
        - Workspaces
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      responses:
        '200':
          description: Workspace details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateWorkspace
      summary: Update workspace
      description: Update a specific workspace.
      tags:
        - Workspaces
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New name for the workspace
      responses:
        '200':
          description: Workspace updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Workspace'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteWorkspace
      summary: Delete workspace
      description: Delete a specific workspace.
      tags:
        - Workspaces
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      responses:
        '204':
          description: Workspace deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/workspace/{workspace_id}/login-token/:
    post:
      operationId: generateWorkspaceLoginToken
      summary: Generate login token
      description: Generate a login token for a workspace.
      tags:
        - Workspaces
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                expiry:
                  type: integer
                  description: Token expiry in seconds
      responses:
        '200':
          description: Login token generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Login token
                  expires_at:
                    type: string
                    format: date-time
                    description: Token expiry datetime
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/workspace/{workspace_id}/populate-form/:
    post:
      operationId: populateWorkspaceForm
      summary: Populate workspace from template
      description: Populate a workspace from a form template.
      tags:
        - Workspaces
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template_id
              properties:
                template_id:
                  type: string
                  description: Template ID to populate from
      responses:
        '200':
          description: Workspace populated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/workspace/{workspace_id}/form-report/:
    get:
      operationId: getWorkspaceFormReport
      summary: Get form report
      description: Retrieve a form report for a workspace.
      tags:
        - Workspaces
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
      responses:
        '200':
          description: Form report
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /api/workspace/{workspace_id}/submission-report/:
    get:
      operationId: getWorkspaceSubmissionReport
      summary: Get submission report
      description: Retrieve a submission report for a workspace.
      tags:
        - Workspaces
      parameters:
        - $ref: '#/components/parameters/WorkspaceId'
        - $ref: '#/components/parameters/StartTime'
        - $ref: '#/components/parameters/EndTime'
      responses:
        '200':
          description: Submission report
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: "Token-based authentication. Format: Token <API KEY>"
  parameters:
    FormId:
      name: form_id
      in: path
      required: true
      schema:
        type: string
      description: Unique form identifier
    ExtractionId:
      name: extraction_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Unique extraction identifier
    UserId:
      name: user_id
      in: path
      required: true
      schema:
        type: string
      description: Unique user identifier
    WorkspaceId:
      name: workspace_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Unique workspace identifier
    PageSize:
      name: page_size
      in: query
      schema:
        type: integer
        maximum: 1000
        default: 100
      description: Number of results per page (max 1000)
    Page:
      name: page
      in: query
      schema:
        type: integer
        default: 1
      description: Page number
    StartTime:
      name: start_time
      in: query
      schema:
        type: string
        format: date-time
      description: Filter results from this datetime
    EndTime:
      name: end_time
      in: query
      schema:
        type: string
        format: date-time
      description: Filter results up to this datetime
    CreatedAfter:
      name: created_after
      in: query
      schema:
        type: string
        format: date-time
      description: Filter by creation date (after)
    CreatedBefore:
      name: created_before
      in: query
      schema:
        type: string
        format: date-time
      description: Filter by creation date (before)
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UnprocessableEntity:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
          description: Error detail message
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Field-level validation errors
    PaginatedResponse:
      type: object
      properties:
        count:
          type: integer
          description: Total number of available records
        next:
          type: string
          format: uri
          nullable: true
          description: URL for the next page
        previous:
          type: string
          format: uri
          nullable: true
          description: URL for the previous page
        total_pages:
          type: integer
          description: Total number of pages
        current_page:
          type: integer
          description: Current page number
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Account identifier
        name:
          type: string
          description: Team/account name
        email:
          type: string
          format: email
          description: Primary email address
        api_key:
          type: string
          description: Current API key
        members:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
                format: email
              role:
                type: string
          description: Team members
    AccountUpdate:
      type: object
      properties:
        name:
          type: string
          description: New account name
    Form:
      type: object
      properties:
        id:
          type: string
          description: Form identifier
        name:
          type: string
          description: Form name
        active:
          type: boolean
          description: Whether the form is active
        internal_id:
          type: string
          format: uuid
          description: Workspace-specific internal identifier
        tags:
          type: array
          items:
            type: string
          description: Form tags
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
    FormDetail:
      allOf:
        - $ref: '#/components/schemas/Form'
        - type: object
          properties:
            steps:
              type: array
              items:
                $ref: '#/components/schemas/FormStep'
              description: Form steps
            logic_rules:
              type: array
              items:
                $ref: '#/components/schemas/LogicRule'
              description: Logic rules
            integrations:
              type: array
              items:
                type: object
                additionalProperties: true
              description: Integrations configured for the form
    FormStep:
      type: object
      properties:
        id:
          type: string
          description: Step identifier
        internal_id:
          type: string
          format: uuid
          description: Internal step identifier
        origin:
          type: boolean
          description: Whether this is the first step
        images:
          type: array
          items:
            type: object
          description: Images on the step
        videos:
          type: array
          items:
            type: object
          description: Videos on the step
        texts:
          type: array
          items:
            type: object
          description: Text elements on the step
        buttons:
          type: array
          items:
            type: object
          description: Buttons on the step
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
          description: Fields on the step
    Field:
      type: object
      properties:
        id:
          type: string
          description: Field identifier
        internal_id:
          type: string
          format: uuid
          description: Internal field identifier
        type:
          type: string
          enum:
            - text_field
            - integer_field
            - decimal_field
            - date_field
            - checkbox
            - dropdown
            - radio_button
            - file_upload
            - signature
            - matrix
            - phone_number
            - email
          description: Field type
        required:
          type: boolean
          description: Whether the field is required
        placeholder:
          type: string
          description: Field placeholder text
        display_text:
          type: string
          description: Label displayed to the user
        max_length:
          type: integer
          nullable: true
          description: Maximum input length
        min_length:
          type: integer
          nullable: true
          description: Minimum input length
        metadata:
          type: object
          additionalProperties: true
          description: Additional metadata including options and validation rules
        repeated:
          type: boolean
          description: Whether the field can be repeated
        repeat_trigger:
          type: string
          nullable: true
          description: Trigger for field repetition
    LogicRule:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Logic rule identifier
        name:
          type: string
          description: Rule name
        description:
          type: string
          description: Rule description
        trigger_event:
          type: string
          enum:
            - change
            - load
            - form_complete
            - submit
            - error
            - view
            - action
          description: Event that triggers the rule
        index:
          type: number
          description: Execution order index
        steps:
          type: array
          items:
            type: string
          nullable: true
          description: Step IDs (for submit/load triggers)
        elements:
          type: array
          items:
            type: string
          nullable: true
          description: Element IDs (for change/error/view/action triggers)
        code:
          type: object
          additionalProperties: true
          description: Executable rule definition
        enabled:
          type: boolean
          description: Whether the rule is enabled
        valid:
          type: boolean
          description: Whether the rule is valid
        mode:
          type: string
          enum:
            - code_editor
            - no-code
          description: Rule editing mode
    Submission:
      type: object
      properties:
        values:
          type: array
          items:
            $ref: '#/components/schemas/SubmissionValue'
          description: Submitted field values
        user_id:
          type: string
          description: User identifier
        submission_start:
          type: string
          format: date-time
          description: When the submission was started
        last_submitted:
          type: string
          format: date-time
          description: When the submission was last updated
    SubmissionValue:
      type: object
      properties:
        id:
          type: string
          description: Field identifier
        type:
          type: string
          description: Field type
        value:
          description: Submitted value (type varies by field type)
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SubmissionInput:
      type: object
      properties:
        form_id:
          type: string
          description: Form identifier
        user_id:
          type: string
          description: User identifier
        field_values:
          type: object
          additionalProperties: true
          description: Field ID to value mapping
        completed:
          type: boolean
          description: Whether to mark the submission as completed
    HiddenField:
      type: object
      properties:
        id:
          type: string
          description: Hidden field unique identifier
        internal_id:
          type: string
          format: uuid
          description: Internal identifier
        type:
          type: string
          enum:
            - json_value
            - number_value
            - text_value
          description: Hidden field data type
        server_side:
          type: boolean
          description: Whether the field is server-side only
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
    HiddenFieldInput:
      type: object
      required:
        - id
        - type
      properties:
        id:
          type: string
          description: Identifier for the hidden field
        type:
          type: string
          enum:
            - json_value
            - number_value
            - text_value
          description: Data type of the hidden field
        server_side:
          type: boolean
          description: Whether the field should be server-side only
    HiddenFieldUpdate:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Identifier of the hidden field to update
        type:
          type: string
          enum:
            - json_value
            - number_value
            - text_value
          description: New data type
        server_side:
          type: boolean
          description: Whether the field should be server-side only
    DocumentTemplate:
      type: object
      properties:
        id:
          type: string
          description: Template identifier
        name:
          type: string
          description: Template name
        type:
          type: string
          enum:
            - pdf
            - docx
            - xlsx
            - pptx
            - idml
          description: Document type
        file:
          type: string
          format: uri
          description: URL to the template file
        tags:
          type: array
          items:
            type: string
          description: Template tags
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
    DocumentEnvelope:
      type: object
      properties:
        id:
          type: string
          description: Envelope identifier
        document:
          type: string
          description: Template ID
        user:
          type: string
          description: Submission identifier
        signer:
          type: string
          format: email
          description: Signer email address
        sender:
          type: string
          format: email
          description: Sender email address
        file:
          type: string
          format: uri
          description: URL to the envelope file
        type:
          type: string
          description: Envelope type
        viewed:
          type: boolean
          description: Whether the envelope has been viewed
        signed:
          type: boolean
          description: Whether the envelope has been signed
        tags:
          type: array
          items:
            type: string
          description: Envelope tags
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
    ExtractionConfig:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Extraction configuration identifier
        name:
          type: string
          description: Extraction name
        file_type:
          type: string
          enum:
            - image
            - csv
            - meeting
            - ai_query
          description: Type of file to extract from
        extraction_type:
          type: string
          description: Extraction method type
        merge_files:
          type: boolean
          description: Whether to merge multiple files before extraction
        confidence_scores_enabled:
          type: boolean
          description: Whether to include confidence scores in results
        context_rules:
          type: array
          items:
            type: string
          description: Contextual rules for extraction
        file_sources:
          type: array
          items:
            type: object
          description: Field references for file sources
        queries:
          type: array
          items:
            $ref: '#/components/schemas/ExtractionQuery'
          description: Extraction queries
        variants:
          type: array
          items:
            type: object
          description: Use-case overrides
        rules:
          type: array
          items:
            type: object
          description: Post-extraction logic rules
        integrations:
          type: array
          items:
            type: object
          description: Integration configurations
    ExtractionQuery:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Query identifier
        question_type:
          type: string
          enum:
            - one_value
            - multiple_value
            - yes_no
            - page_number
          description: Type of question/extraction
        entities:
          type: array
          items:
            type: string
          description: Entities to extract
        criteria:
          type: string
          description: Extraction instructions
        data_validation_rules:
          type: array
          items:
            type: string
          description: Rules for validating extracted data
        save_to_fields:
          type: array
          items:
            type: object
          description: Field references to save extracted data to
        run_email_mode:
          type: string
          enum:
            - email_only
            - email_document
            - document_only
          description: Email processing mode
    ExtractionRun:
      type: object
      properties:
        id:
          type: string
          description: Run identifier
        user_id:
          type: string
          description: Submission reference
        file_name:
          type: string
          description: Name of the processed file
        success:
          type: boolean
          description: Whether the extraction was successful
        approved:
          type: boolean
          description: Whether the result has been approved
        approver:
          type: string
          format: email
          nullable: true
          description: Email of the approver
        identity:
          type: string
          description: Trigger email identity
        data:
          type: array
          items:
            type: object
            properties:
              field_internal_id:
                type: string
                format: uuid
              value:
                description: Extracted value
          description: Extracted data
        email_extracted_at:
          type: string
          format: date-time
          nullable: true
          description: When data was extracted from email
        document_extracted_at:
          type: string
          format: date-time
          description: When data was extracted from document
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
    User:
      type: object
      properties:
        user_id:
          type: string
          description: Unique user identifier
        field_values:
          type: object
          additionalProperties: true
          description: User field values
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
    UserFormSession:
      type: object
      properties:
        user_id:
          type: string
          description: User identifier
        form_id:
          type: string
          description: Form identifier
        current_step:
          type: string
          description: Current step in the form
        field_values:
          type: object
          additionalProperties: true
          description: Current field values
        completed:
          type: boolean
          description: Whether the form session is completed
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Workspace:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Workspace identifier
        name:
          type: string
          description: Workspace name
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
    PaginatedForms:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/Form'
    PaginatedSubmissions:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/Submission'
    PaginatedHiddenFields:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/HiddenField'
    PaginatedDocumentTemplates:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/DocumentTemplate'
    PaginatedDocumentEnvelopes:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/DocumentEnvelope'
    PaginatedExtractions:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/ExtractionConfig'
    PaginatedExtractionRuns:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/ExtractionRun'
    PaginatedUsers:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/User'
    PaginatedWorkspaces:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/Workspace'
    PaginatedLogs:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                type: object
                additionalProperties: true
    PaginatedEmailLogs:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                type: object
                additionalProperties: true
    PaginatedEmailIssues:
      allOf:
        - $ref: '#/components/schemas/PaginatedResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                type: object
                additionalProperties: true
